#!/bin/sh

set -e

UNIXSOCK=$SSH_ORIGINAL_COMMAND
if [[ -S "$UNIXSOCK" ]]; then
	sudo -u nginx /dev/shm/bin/create-upstream $REMOTE_USER $UNIXSOCK
else
	exit 1
fi

URI={{getv "/routing/scheme"}}://${REMOTE_USER}.{{getv "/routing/domain"}}
echo $URI

while true
do
	sleep 60
done
